#STANDARD GITIGNORE, MODIFY AS REQUIRED
# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore configuration files for IDEs and editors
.vscode/
.idea/

# Doxygen documentation output
doxygen/documentation/

# Ignore CSV, log, and image files
*.csv
*.log
*.png
*.jpg
*.jpeg

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python package distribution files
*.egg
*.egg-info
dist/
build/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore specific files
*.txt  # If you don't want to track any text files
